@import '~antd/dist/antd.less';

.ant-drawer .ant-picker-clear,
.ant-drawer .ant-slider-handle,
.ant-drawer .ant-anchor-wrapper,
.ant-drawer .ant-collapse-content,
.ant-drawer .ant-timeline-item-head,
.ant-drawer .ant-card {
  background-color: #fff;
}

.readable-bold-1 {
  font-size: @font-size-base + 1px;
  font-weight: bold;
}

.readable-bold-2 {
  font-size: @font-size-base + 2px;
  font-weight: bold;
}
