.header{
    background-color: white;
    padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    .title{
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 26px;
        color: #666;
    }
    .logo{
        height: 45px;;
    }
    &__avatar{
        margin-right: 10px;
    }
    &__setting{
        &>*:first-child{
            margin-right: 10px;
        }
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    &__buttons{
        display: flex;
    }
}